<div class="top-bar">
  <div class="left">
    <h1>Task list</h1>
  </div>
  <div class="right">
    <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
      <mat-icon aria-label="Setting icon-button">settings</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu" xPosition="after" yPosition="below">
      <button mat-menu-item (click)="openLogoutDialog()">Logout</button>
    </mat-menu>
  </div>
</div>

<div class="filter">
  <mat-form-field appearance="outline" class="title-input">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>

  <button mat-raised-button color="primary" class="create-button" (click)="openTaskCreateDialog()">Create a Task</button>
</div>

<div class="task-table">
  <mat-table [dataSource]="filteredTasks" class="mat-elevation-z8" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
    </ng-container>

    <!-- Action Column --> <!----Not sure if this will work, need to check-->>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="viewTaskDetails(row)">
          <mat-icon aria-label="View Task Details">info</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="confirmDeleteTask(row)">
          <mat-icon aria-label="Delete Task">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
