.logout-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-card {
    text-align: center;
  }
  .logout-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  